@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cormorant', cursive;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
}
/* ******************* NAVBAR ******************* */
nav {
  overflow: hidden;
  background-color: gray;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 3em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
.button{
  font-size: 1.5em;
  background-color: gray;
}
.button:hover{
  background-color: black;
  color: gray;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#logo {
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  float: left;
}
/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
  padding-top: 60px;
  background-image: url(hoho.jpg);
  height: 1000px;
  background-size: cover;
}
h1 {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  color: gray;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 1px 3px 2px black;
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color:gray;
  box-shadow: 1px 3px 2px black;
}
h3 {
  text-align: center;
  color: gray;
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
}
/* *************** PRESENTATION ********************** */
#presentation {
  background-color:gray;
  padding: 10px 0px 50px 0;
}
#texteIntro {
  padding: 0px 20%;
}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;  
}

/* **************** TOURISME ********************** */
#tourisme {
  height: 350px;
  background-color: #f1f2f6;
  padding: 1px 2%;
}
#tourisme h2 {
  padding-top: 60px;
}

#tourisme li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

/* ******************* FOOTER ******************** */
footer {
  background-color: gray;
  color: #FFFAE1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input, textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 3em;
  font-family: 'Cormorant', cursive;
  border-radius: 8px;
}
textarea {
  height: 120px;
}
button {
  font-size: 1.5em;
  background-color: #FFFAE1;
}
button:hover {
  background-color: black;
  color: #FFFAE1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #FFFAE1;
  margin: 60px auto;
}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: black;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color:black;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}
#button{
  font-size: 1.5em;
  background-color: #FFFAE1;
}
#button:hover{
  background-color: black;
  color: #FFFAE1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}